<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-register.css') }}">
</head>
<body>
    <div class="login-container">
        <div id="welcome-message" class="welcome-message">
            <p>Bienvenido de nuevo! <button onclick="closeWelcomeMessage()">&times;</button></p>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <h2>Iniciar Sesión</h2>
            {% if msg %}
                <p class="error">{{ msg }}</p>
            {% endif %}
            <input type="email" name="email" placeholder="Correo" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
            <p class="register-link">¿No tienes usuario? <a href="{{ url_for('register') }}">Regístrate</a></p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>